FlexOfficeWebServer/flexoffice-userui/src/main/resources/xsd/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<!-- User -->
	<xsd:complexType name="xmlUser">
		<xsd:sequence>
 		   <xsd:element name="firstName" type="xsd:string"/>
			<xsd:element name="lastName" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	
	<!-- Error Model -->
	<xsd:complexType name="ErrorModel">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string"/>
			<xsd:element name="message" type="xsd:string"/>
 		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>