FlexOfficeWebServer/flexoffice-gatewayapi/src/main/resources/xsd/elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:include id="types" schemaLocation="types.xsd"/>
	
	<xsd:element name="sensorNewSummary" type="SensorNewSummary"/>
	<xsd:element name="gatewaySummary" type="GatewaySummary"/>
	<xsd:element name="gatewayReturn" type="GatewayReturn"/>
	<xsd:element name="room" type="Room"/>
	
	<xsd:element name="error" type="ErrorModel"/>
	
</xsd:schema>