FlexOfficeWebServer/flexoffice-adminui/src/main/resources/xsd/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<!-- Begin Enumeration Type -->
	<xsd:simpleType name="e-roomType">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="BOX"/>
	 	<xsd:enumeration value="VIDEO_CONF"/>
	 </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="e-sensorType">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="MOTION_DETECTION"/>
	 	<xsd:enumeration value="TEMPERATURE_HUMIDITY"/>
	 </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="e-deviceType">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="GATEWAY"/>
	 	<xsd:enumeration value="SENSOR"/>
	 	<xsd:enumeration value="AGENT"/>
	 	<xsd:enumeration value="DASHBOARD"/>
	 </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="e-roomStatus">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="UNKNOWN"/>
	 	<xsd:enumeration value="FREE"/>
	 	<xsd:enumeration value="RESERVED"/>
	 	<xsd:enumeration value="OCCUPIED"/>
	 </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="e-deviceStatus">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="ONLINE"/>
	 	<xsd:enumeration value="UNSTABLE"/>
	 	<xsd:enumeration value="OFFLINE"/>
	 </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="e-teachinSensorStatus">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="NOT_PAIRED"/>
	 	<xsd:enumeration value="PAIRED_OK"/>
	 	<xsd:enumeration value="PAIRED_KO"/>
	 </xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="e-teachinStatus">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="INITIALIZING"/>
	 	<xsd:enumeration value="RUNNING"/>
	 	<xsd:enumeration value="ENDED"/>
	 </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="e-agentStatus">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="ONLINE"/>
	 	<xsd:enumeration value="OFFLINE"/>
	 	<xsd:enumeration value="ECONOMIC"/>
	 	<xsd:enumeration value="STANDBY"/>
	 </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="e-dashboardStatus">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="ONLINE"/>
	 	<xsd:enumeration value="OFFLINE"/>
	 	<xsd:enumeration value="ECONOMIC"/>
	 	<xsd:enumeration value="STANDBY"/>
	 </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="e-meetingroomStatus">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="FREE"/>
	 	<xsd:enumeration value="OCCUPIED"/>
	 	<xsd:enumeration value="UNKNOWN"/>
	 	<xsd:enumeration value="ACK"/>
	 </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="e-meetingroomType">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="BOX"/>
	 	<xsd:enumeration value="VIDEO_CONF"/>
	 </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="e-commandModel">
	 <xsd:restriction base="xsd:string">
	 	<xsd:enumeration value="NONE"/>
	 	<xsd:enumeration value="ECONOMIC"/>
	 	<xsd:enumeration value="ONLINE"/>
	 	<xsd:enumeration value="OFFLINE"/>
	 	<xsd:enumeration value="RESET"/>
	 	<xsd:enumeration value="STANDBY"/>
	 </xsd:restriction>
	</xsd:simpleType>
	<!-- End Enumeration Type -->
	
	<!-- Location -->
	<xsd:complexType name="LocationItem">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LocationInput">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Location">
		<xsd:sequence>
			<xsd:element name="building" type="BuildingOutput" />
			<xsd:element name="city" type="LocationItem"/>
			<xsd:element name="region" type="LocationItem"/>
			<xsd:element name="country" type="LocationItem"/>
			<xsd:element name="floor" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Building -->
	<xsd:complexType name="BuildingItem">
		<xsd:sequence>
			<xsd:element name="buildingId" type="xsd:string"/>
			<xsd:element name="buildingName" type="xsd:string"/>
			<xsd:element name="nbFloors" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BuildingInput">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="address" type="xsd:string"/>
			<xsd:element name="cityId" type="xsd:string"/>
			<xsd:element name="nbFloors" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BuildingSummary">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="address" type="xsd:string"/>
			<xsd:element name="countryName" type="xsd:string"/>
			<xsd:element name="regionName" type="xsd:string"/>
			<xsd:element name="cityName" type="xsd:string"/>
			<xsd:element name="nbFloors" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BuildingOutput">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="address" type="xsd:string"/>
			<xsd:element name="nbFloors" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Building">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="address" type="xsd:string"/>
			<xsd:element name="country" type="LocationItem"/>
			<xsd:element name="region" type="LocationItem"/>
			<xsd:element name="city" type="LocationItem"/>
			<xsd:element name="nbFloors" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- City -->
	<xsd:complexType name="CityInput">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="regionId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CitySummary">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="countryName" type="xsd:string"/>
			<xsd:element name="regionName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="City">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="country" type="LocationItem"/>
			<xsd:element name="region" type="LocationItem"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Region -->
	<xsd:complexType name="RegionInput">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="countryId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RegionSummary">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="countryName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Region">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="country" type="LocationItem"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Alert -->
	<xsd:complexType name="DeviceAlertSummary">
		<xsd:sequence>
 			<xsd:element name="deviceType" type="e-deviceType" ></xsd:element>
 			<xsd:element name="deviceName" type="xsd:string" ></xsd:element>
 			<xsd:element name="lastNotification" type="xsd:integer"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- System -->
	<xsd:complexType name="System">
		<xsd:sequence>
 		   <xsd:element name="userCount" type="xsd:integer"/>
			<xsd:element name="activeUserCount" type="xsd:integer"/>
			<xsd:element name="gatewayCount" type="xsd:integer"/>
			<xsd:element name="activeGatewayCount" type="xsd:integer"/>
			<xsd:element name="roomCount" type="xsd:integer"/>
			<xsd:element name="freeRoomCount" type="xsd:integer"/>
			<xsd:element name="occupiedRoomCount" type="xsd:integer"/>
			<xsd:element name="meetingroomCount" type="xsd:integer"/>
			<xsd:element name="freeMeetingroomCount" type="xsd:integer"/>
			<xsd:element name="occupiedMeetingroomCount" type="xsd:integer"/>
			<xsd:element name="agentCount" type="xsd:integer"/>
			<xsd:element name="activeAgentCount" type="xsd:integer"/>
			<xsd:element name="deviceStatuses" type="e-deviceStatus" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="sensorTypes" type="e-sensorType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="roomTypes" type="e-roomType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="meetingRoomTypes" type="e-meetingroomType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="deviceAlerts" type="DeviceAlertSummary" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="commands" type="e-commandModel" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Stat -->
	<xsd:complexType name="SimpleStat">
		<xsd:sequence>
 		   <xsd:element name="label" type="xsd:string"/>
		   <xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="MultiStat">
		<xsd:sequence>
 			<xsd:element name="label" type="xsd:string"/>
			<xsd:element name="values" type="xsd:string"  minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="MultiStatSet">
		<xsd:sequence>
 		   <xsd:element name="startdate" type="xsd:long"/>
   		   <xsd:element name="enddate" type="xsd:long"/>
   		   <xsd:element name="categories" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
   		   <xsd:element name="data" type="MultiStat" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- User -->
	<xsd:complexType name="UserSummary">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="label" type="xsd:string"/>
 		    <xsd:element name="firstName" type="xsd:string"/>
			<xsd:element name="lastName" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="User">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
 		    <xsd:element name="firstName" type="xsd:string"/>
			<xsd:element name="lastName" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="UserInput">
		<xsd:sequence>
 		    <xsd:element name="firstName" type="xsd:string"/>
			<xsd:element name="lastName" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Sensor -->
	<xsd:complexType name="SensorOutput">
		<xsd:sequence>
			<xsd:element name="identifier" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SensorInput1">
		<xsd:sequence>
			<xsd:element name="identifier" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="type" type="e-sensorType"/>
			<xsd:element name="room" type="RoomInput2"/>
			<xsd:element name="desc" type="xsd:string"/>
			<xsd:element name="profile" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SensorInput2">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="type" type="e-sensorType"/>
			<xsd:element name="room" type="RoomInput2"/>
			<xsd:element name="desc" type="xsd:string"/>
			<xsd:element name="profile" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SensorSummary">
		<xsd:sequence>
			<xsd:element name="identifier" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="type" type="e-sensorType"/>
			<xsd:element name="room" type="RoomOutput"/>
			<xsd:element name="status" type="e-deviceStatus"/>
			<xsd:element name="lastMeasureDate" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Sensor">
		<xsd:sequence>
			<xsd:element name="identifier" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="type" type="e-sensorType"/>
			<xsd:element name="room" type="RoomOutput"/>
			<xsd:element name="desc" type="xsd:string"/>
			<xsd:element name="status" type="e-deviceStatus"/>
			<xsd:element name="lastMeasureDate" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Gateway -->
	<xsd:complexType name="GatewayInput">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="desc" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GatewayInput2">
		<xsd:sequence>
			<xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GatewayInput3">
		<xsd:sequence>
			<xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="desc" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GatewayOutput2">
		<xsd:sequence>
			<xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="desc" type="xsd:string"/>
 		    <xsd:element name="status" type="e-deviceStatus" />
			<xsd:element name="lastPollingDate" type="xsd:long"/>
			<xsd:element name="rooms" type="RoomOutput" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="GatewayOutput">
		<xsd:sequence>
			<xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GatewaySummary">
		<xsd:sequence>
			<xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="status" type="e-deviceStatus" />
			<xsd:element name="lastPollingDate" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Gateway">
		<xsd:sequence>
			<xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="desc" type="xsd:string"/>
 		    <xsd:element name="status" type="e-deviceStatus" />
			<xsd:element name="lastPollingDate" type="xsd:long"/>
			<xsd:element name="rooms" type="RoomSummary" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Room -->
	<xsd:complexType name="RoomInput1">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="type" type="e-roomType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="gateway" type="GatewayInput2" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="desc" type="xsd:string"/>
			<xsd:element name="capacity" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="buildingId" type="xsd:string"/>
			<xsd:element name="floor" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RoomInput2">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>		
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RoomOutput">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>		
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RoomSummary">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="type" type="e-roomType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="gateway" type="GatewayOutput" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="address" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="capacity" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="status" type="e-roomStatus" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="tenantName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Room">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="type" type="e-roomType"/>
			<xsd:element name="gateway" type="GatewayOutput"/>
			<xsd:element name="desc" type="xsd:string"/>
			<xsd:element name="sensors" type="SensorOutput" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="capacity" type="xsd:integer"/>
			<xsd:element name="status" type="e-roomStatus"/>
			<xsd:element name="tenant" type="UserSummary"/>
			<xsd:element name="location" type="Location"/>
			<xsd:element name="temperature" type="xsd:string"/>
			<xsd:element name="humidity" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- AGENTS -->
	<xsd:complexType name="AgentSummary">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="status" type="e-agentStatus" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastMeasureDate" type="xsd:long"/>
			<xsd:element name="meetingroomId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AgentInput">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="desc" type="xsd:string"/>
 		    <xsd:element name="macAddress" type="xsd:string"/>
 		    <xsd:element name="command" type="e-commandModel" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AgentInput2">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="desc" type="xsd:string"/>
 		    <xsd:element name="command" type="e-commandModel" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AgentInput3">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="desc" type="xsd:string"/>
 		    <xsd:element name="macAddress" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AgentOutput">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="desc" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Agent">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="desc" type="xsd:string"/>
			<xsd:element name="meetingroom" type="MeetingRoomOutput" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="status" type="e-agentStatus"/>
			<xsd:element name="lastMeasureDate" type="xsd:long"/>
			<xsd:element name="command" type="e-commandModel" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- DASHBOARDS -->
	<xsd:complexType name="DashboardSummary">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="status" type="e-dashboardStatus" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastMeasureDate" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DashboardInput">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="desc" type="xsd:string"/>
 		    <xsd:element name="macAddress" type="xsd:string"/>
 		    <xsd:element name="cityId" type="xsd:string"/>
 		    <xsd:element name="buildingId" type="xsd:string"/>
			<xsd:element name="floor" type="xsd:integer"/>
 		    <xsd:element name="command" type="e-commandModel" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DashboardInput2">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="desc" type="xsd:string"/>
 		    <xsd:element name="cityId" type="xsd:string"/>
 		    <xsd:element name="buildingId" type="xsd:string"/>
			<xsd:element name="floor" type="xsd:integer"/>
 		    <xsd:element name="command" type="e-commandModel" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Dashboard">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="macAddress" type="xsd:string"/>
			<xsd:element name="desc" type="xsd:string"/>
			<xsd:element name="status" type="e-dashboardStatus"/>
			<xsd:element name="location" type="Location"/>
			<xsd:element name="lastMeasureDate" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- MEETINGROOMS -->
	<xsd:complexType name="MeetingRoomSummary">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="externalId" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="type" type="e-meetingroomType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="agent" type="AgentOutput" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="status" type="e-meetingroomStatus" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="MeetingRoomInput">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="externalId" type="xsd:string"/>
 		    <xsd:element name="type" type="e-meetingroomType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="agent" type="AgentInput3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="desc" type="xsd:string"/>
			<xsd:element name="capacity" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="buildingId" type="xsd:string"/>
			<xsd:element name="floor" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="MeetingRoomOutput">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>		
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="MeetingRoom">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="externalId" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
 		    <xsd:element name="type" type="e-meetingroomType"/>
			<xsd:element name="agent" type="AgentOutput"/>
			<xsd:element name="desc" type="xsd:string"/>
			<xsd:element name="capacity" type="xsd:integer"/>
			<xsd:element name="status" type="e-meetingroomStatus"/>
			<xsd:element name="organizerLabel" type="xsd:string"/>
			<xsd:element name="location" type="Location"/>
			<xsd:element name="startDate" type="xsd:long"/>
			<xsd:element name="endDate" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Teachin -->
	<xsd:complexType name="Teachin">
		<xsd:sequence>
			<xsd:element name="roomId" type="xsd:string"/>
 		    <xsd:element name="gatewayId" type="xsd:string"/>
 		    <xsd:element name="status" type="e-teachinStatus"/>
			<xsd:element name="sensors" type="TeachinSensor" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="TeachinSensor">
		<xsd:sequence>
			<xsd:element name="identifier" type="xsd:string"/>
 			<xsd:element name="status" type="e-teachinSensorStatus" />	    
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Token -->
	<xsd:complexType name="Token">
		<xsd:sequence>
			<xsd:element name="accessToken" type="xsd:string"/>
			<xsd:element name="expiredDate" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<!-- Error Model -->
	<xsd:complexType name="ErrorModel">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string"/>
			<xsd:element name="message" type="xsd:string"/>
 		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>